force-app/main/default/flows/AtribuicaoPesoa.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>GuardarValores</name>
        <label>Guardar Valores</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Caixa_Bilhetes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopObter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopObter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ObterValores</name>
        <label>Obter Valores</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LoopObter.Pessoa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopObter.Fila__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fila</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopObter.NumeroLugar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumeroLugar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GuardarValores</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>AtribuicaoPesoa {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AtribuicaoPesoa</label>
    <loops>
        <name>LoopObter</name>
        <label>LoopObter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obter_Order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PrenchimentoBilhete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AtualizarBilhetes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obter_Order</name>
        <label>Obter Bilhetes Vazios</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopObter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bilhete__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizarBilhetes</name>
        <label>Atualiza Bilhetes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Caixa_Bilhetes</inputReference>
    </recordUpdates>
    <screens>
        <name>PrenchimentoBilhete</name>
        <label>Prenchimento Bilhete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ObterValores</targetReference>
        </connector>
        <fields>
            <name>Nome</name>
            <dataType>String</dataType>
            <fieldText>Nome</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fila</name>
            <dataType>String</dataType>
            <fieldText>Fila</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NumeroLugar</name>
            <dataType>Number</dataType>
            <fieldText>Numero Lugar</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Bilhete_Atual</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bilhete__c</objectType>
    </variables>
    <variables>
        <name>Caixa_Bilhetes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bilhete__c</objectType>
    </variables>
    <variables>
        <name>Contador</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
