force-app/main/default/flows/BilheteAtualizaComissoesPromotor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SomarValor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EstadoBilhete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarBSomar</targetReference>
            </connector>
            <label>SomarValor</label>
        </rules>
        <rules>
            <name>SubtrairValor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EstadoBilhete__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Vendido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_1</targetReference>
            </connector>
            <label>SubtrairValor</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SomarBValor</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!GetB.ComissoesAcumuladas__c}, 0) + (BLANKVALUE({!$Record.Evento__r.PrecoBilhete__c}, 0) * (BLANKVALUE({!GetB.TaxaComissao__c}, 0) / 100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SubtrairBValor</name>
        <dataType>Currency</dataType>
        <expression>IF(
  (BLANKVALUE({!GetB.ComissoesAcumuladas__c}, 0) - (BLANKVALUE({!$Record.Evento__r.PrecoBilhete__c}, 0) * (BLANKVALUE({!GetB.TaxaComissao__c}, 0) / 100))) &lt;= 0,
  null,
  (BLANKVALUE({!GetB.ComissoesAcumuladas__c}, 0) - (BLANKVALUE({!$Record.Evento__r.PrecoBilhete__c}, 0) * (BLANKVALUE({!GetB.TaxaComissao__c}, 0) / 100)))
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>BilheteAtualizaComissoesPromotor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BilheteAtualizaComissoesPromotor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetB</name>
        <label>GetB</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Evento__r.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizarBSomar</name>
        <label>AtualizarBSomar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetB.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ComissoesAcumuladas__c</field>
            <value>
                <elementReference>SomarBValor</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>AtualizarBSubtrair</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetB.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ComissoesAcumuladas__c</field>
            <value>
                <elementReference>SubtrairBValor</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetB</targetReference>
        </connector>
        <object>Bilhete__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
