force-app/main/default/flows/CriacaoBilhetes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Guardar_e_Somar</name>
        <label>Guardar e Somar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Caixa_De_Bilhetes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Um_Bilhete</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contador</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Ainda_faltam_bilhetes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Preencher_Dados_do_Bilhete</name>
        <label>Preencher Dados do Bilhete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Um_Bilhete.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Um_Bilhete.Evento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Evento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Um_Bilhete.EstadoBilhete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Disponível</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Um_Bilhete.Categoria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Básico</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Guardar_e_Somar</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Ainda_faltam_bilhetes</name>
        <label>Ainda faltam bilhetes?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CriarBilhete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nao</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contador</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.QuantidadeBilhetes__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preencher_Dados_do_Bilhete</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CriaçãoBilhetes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CriacaoBilhetes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CriarBilhete</name>
        <label>CriarBilhete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Caixa_De_Bilhetes</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetBilhete</name>
        <label>GetBilhete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ainda_faltam_bilhetes</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bilhete__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetBilhete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Caixa_De_Bilhetes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bilhete__c</objectType>
    </variables>
    <variables>
        <name>Contador</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Um_Bilhete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bilhete__c</objectType>
    </variables>
</Flow>
